.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  font-family: DM Sans;
}

@media screen and (min-width: 768px) {
  .login-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.card-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .card-container {
    width: 60%;
  }
}

.login-img {
  width: 380px;
  height: 380px;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .login-img {
    display: none;
  }
}

.logo-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo-img {
    width: 40%;
    flex-shrink: 1;
    height: 100vh;
    display: block;
  }
}

.desk-logo {
  width: 53px;
  height: 43px;
}

@media screen and (max-width: 767px) {
  .desk-logo {
    display: none;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 456px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 64px 48px 64px 48px;
  }
}

.logo-head {
  color: #f7931e;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  line-height: 32px;
  margin-top: none;
}

@media screen and (max-width: 767px) {
  .logo-head {
    display: none;
  }
}

.login-head {
  color: #0f172a;
  text-align: left;
  align-self: flex-start;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .login-head {
    text-align: center;
    align-self: center;
    font-size: 32px;
    line-height: 40px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.label {
  color: #475569;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0px;
}

.input {
  color: #64748b;
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.login-btn {
  color: #ffffff;
  background: #f7931e;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: bold;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

.err-msg {
  color: #ff0b37;
  align-self: start;
  font-size: 12px;
  line-height: 16px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
}
